@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'theme.css';
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}



body {
  margin: auto;
  font-size: 17px;
  background-color:#242121;
}


a {
  text-decoration: none;
  color: #2d3233;
}

button {
  background-color: #3e99c0;
  border-radius: 8px;
  border-width: 0px;
  font-weight: 295;
  color: rgb(255, 255, 255);
  padding: 5px;
  font-size: 17px;
}


.container{
  display: flex;
  position: absolute;
  overflow: visible;
 
  }



.card {
  width:300px;
  height: 500px;
  padding: 0.75em;
  margin:2.3em;
  background: #f5f5f5;
  position: relative;  
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 1.5rem;
 }
 
 .card-img {
  background-color: #ffcaa6;
  height: 40%;
  width: 100%;
  border-radius: .5rem;
  
 }
 
 .card-info {
  padding-top: 10%;
 }
 
 svg {
  width: 20px;
  height: 20px;
 }
 
 .card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
 }
 
 /*Text*/
 .text-title {
  font-weight: 900;
  font-size: 1em;
  line-height: 1;
 }
 
 .text-body {
  font-size: .7em;
  padding-bottom: 10px;
 }
 
 /*Button*/
 .card-button {
  border: 1px solid #252525;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
 }
 
 /*Hover*/

 

 .card:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
 }




 .login-container {

  width: 500px;
  height: 500px;
  margin:2em;
  padding: 20px;
  background:  #f5f5f5;
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
  border-radius: 1.5rem;
}

.login-header {
  font-size: x-large;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 1em;
  line-height: 1;
}

.login-header h1 {
  color: #333;
  font-size: 24px;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 40px;
  border: none;
  background: #f5f5f5;
  border-radius: 4px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.login-button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #ffcaa6;
  color:#242121;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), inset 0px 1px 3px rgba(255, 255, 255, 0.5);
  transition: background 0.3s ease, transform 0.2s ease;
}

.login-button:hover {
  color:#888787;
  background:burlywood;
  transform: translateY(-2px);
}

.links-style{
  margin-left:50%;
  color: white;
}
.links-style:hover{
  color:blueviolet
}

.main{
  display: flex;
}

label{line-height: 1.5rem;}

@media screen and (max-width: 1400px) {
  #root {
    padding-left: 30%;
    padding-right: 30%;
  }
}

@media screen and (max-width: 750px) {
  #root {
    padding-left: 0;
    padding-right: 0;
  }
}

/* 
.container
flex-wrap: wrap;
  flex-direction:row;
  position:relative;*/